openapi: 3.1.0
info:
  title: OpenFEMA DisasterDeclarationsSummaries API
  description: The OpenFEMA API (FEMA, U.S. Department of Homeland Security) provides public, read-only access to disaster, mitigation, and assistance datasets. All endpoints support common OpenFEMA query parameters including $filter, $select, $orderby, $top, $skip, $inlinecount, and $format.
  version: '2'
servers:
- url: https://www.fema.gov/api/open
  description: OpenFEMA API
tags:
- name: DisasterDeclarationsSummaries
paths:
  /v2/DisasterDeclarationsSummaries:
    get:
      summary: Disaster Declarations Summaries
      description: Federally declared disasters from 1953 forward.
      operationId: listDisasterDeclarationsSummaries
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/OrderBy'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/InlineCount'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetResponse'
      tags:
      - DisasterDeclarationsSummaries
components:
  parameters:
    InlineCount:
      name: $inlinecount
      in: query
      schema:
        type: string
        enum:
        - allpages
        - none
      description: Include total record count.
    Format:
      name: $format
      in: query
      schema:
        type: string
        enum:
        - json
        - csv
        - jsona
        - geojson
      description: Response format.
    Skip:
      name: $skip
      in: query
      schema:
        type: integer
      description: Records to skip for pagination.
    Filter:
      name: $filter
      in: query
      schema:
        type: string
      description: OData filter expression.
    Select:
      name: $select
      in: query
      schema:
        type: string
      description: Comma-separated list of fields to return.
    Top:
      name: $top
      in: query
      schema:
        type: integer
      description: Maximum records to return per page.
    OrderBy:
      name: $orderby
      in: query
      schema:
        type: string
      description: Sort expression.
  schemas:
    DatasetResponse:
      type: object
      additionalProperties: true
      properties:
        metadata:
          type: object
          additionalProperties: true
x-generated-from: https://www.fema.gov/about/openfema/api
x-generated-by: claude-crawl-2026-05-08
